@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #6dc1f7 30%, #bcf2f1);
}

a {
    text-decoration: none !important;
}